flask
openai
python-dotenv
PyPDF2
boto3

chromadb==0.4.17
numpy==1.26.4
sentence-transformers==2.2.2
huggingface-hub==0.16.4
transformers==4.34.0

# PyTorch CPU version - install with: pip install --extra-index-url https://download.pytorch.org/whl/cpu torch==2.1.2+cpu
torch==2.1.2+cpu
